<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- <typeAliases>
        <typeAlias type="User" alias="user"/>
    </typeAliases> -->
<!--     该模块做的是别名的配置 就是通过设置包名来设置别名  包里面的每个类的别名默认是每个类的简单类名-->
     <typeAliases>
        <package name="com.xuxueya.atcrowdfunding.bean"/>
    </typeAliases> 
</configuration>